/**
 * Set site colours
 */
$sidebar-main: #263238;
$sidebar-light: #4f5b62;
$sidebar-dark: #000a12;
$background-white: #e1e2e1;

$main-brown: #4f3130;
/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */
html {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
@media (min-width: 48em) {
	html {
		font-size: 16px;
	}
}
@media (min-width: 58em) {
	html {
		font-size: 20px;
	}
}
