/**
 * Set site colours
 */
$sidebar-dark: #272822;
$sidebar-orange: #E55934;
$sidebar-green: #5FBB97;
$background-white: #F1F1F1;
$main-brown: #4F3130;
$main-green: #34403A;
/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */
html {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
@media (min-width: 48em) {
    html {
        font-size: 16px;
    }
}
@media (min-width: 58em) {
    html {
        font-size: 20px;
    }
}
