/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
	text-align: center;
	padding: 2rem 1rem;
	color: rgba(255, 255, 255, 0.5);
	background-color: $sidebar-dark;
	text-decoration: none;
	padding: 0;

	/* Sidebar links */
	a {
		color: $main-green;
		text-decoration: none;
	}

	a:hover {
		color: $main-orange;
		text-decoration: none;
	}

	.sidebar-sticky {
		background-color: $sidebar-dark;
		margin-top: -8%;
		position: absolute;
		width: 100%;
	}

	.sidebar-nav-item {
		display: block;
		line-height: 1.75;
	}

	.sidebar-logo {
		background-color: $background-white;
		width: 100%;
		margin-bottom: -10%;
	}

	.sidebar-icons {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
	}
}

@media (min-width: 48em) {
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 18rem;
		text-align: left;
	}
}

.sidebar-main {
	background-color: $sidebar-dark;
}
