/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
	color: $background-white;
	text-decoration: none;

	/* Sidebar links */
	a {
		color: $sidebar-light;
		font-weight: bold;
		text-decoration: none;
	}

	a:hover {
		color: $sidebar-dark;
	}

	.sidebar-sticky {
		background-color: $sidebar-main;
		margin-top: -8%;
		position: absolute;
		padding-left: 2rem;
		padding-right: 2rem;
		width: 100%;
	}

	.sidebar-title{
		h1{
			a{
				fill: $background-white;
			}
		}
	}

	.sidebar-tagline{
		font-size: 80%;
		color: rgba(255, 255, 255, 0.5);
	}

	.sidebar-nav {
		a {
			color: $background-white;
			font-weight: normal;
			text-decoration: none;
		}
		a:hover {
			color: $sidebar-dark;
			text-decoration: none;
		}
	}

	.sidebar-nav-item {
		display: block;
		line-height: 1.75;
	}

	.sidebar-logo {
		background-color: $background-white;
		fill: $sidebar-main;
		transform: scaleX(-1);
		width: 100%;
		margin-bottom: -10%;
	}

	.sidebar-icons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}

@media (min-width: 48em) {
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 18rem;
		text-align: left;
	}
}

.sidebar-main {
	background-color: $sidebar-main;
}
